.store {
  width: 100%;
  color: $primary;
  min-width: 326px;
  h1 {
    font-weight: 200;
    font-size: calc(30px + 2vw);
  }
  
  .listOfProducts {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 0;
  }
  .product {
    width: 300px;
    background-color: #fff;
    list-style: none;
    box-sizing: border-box;
    padding: 1em;
    margin: 1em 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 7px;
    height: auto;
  }
  .product-name {
    font-size: 1.2em;
  }
  .product-name:hover {
    cursor: pointer;
    text-decoration: underline;
  }
  .product-price {
    width: 100%;
    align-self: flex-start;
    display: flex;
    justify-content: space-between;
    margin-bottom: .5em;
  }
  .prod-img {
    height: 100px;
    width: 130px;
  }

  .text-box {
    height: 44px;
  }


}