.cart {
    min-width: 313px;

    h1 {
        color: $warning;
        font-weight: 600;
        font-size: calc(30px + 1vw);
    }
    h2 {
        color: $primary;
        font-weight: 400;
        font-size: calc(15px + 0.8vw);
    }
    h3 {
        margin: 0px;
        color: $primary;
        font-weight: 600;
        font-size: calc(11px + 0.5vw);
    }
    h4 {
        color: $warning;
        font-weight: 600;
        font-size: calc(20px + 1vw);
    }

    .quantity {
        height: 2vw;
        width: 2vw;
        min-width: 15px;
        min-height: 20px;
        margin: 0px 0px 0px 0px;
        border: 0px 0px 0px 0px;
    }

    .centered-text {
        text-align: center;
    }

    .left-text {
        text-align: left;
    }
      
    .main-btn {
        width: 80%;
        height: 58px;
        // min-width: 168px;
        border-radius: 15px;
        max-width: 230px;
        background-color: $button2;
        &:hover{
            background-color: $button2;
            filter: brightness(90%);
        }
    }

    .secondary-btn {
        width: 80%;
        height: 58px;
        // min-width: 168px;
        border-radius: 15px;
        max-width: 230px;
        background-color: $button;
        &:hover{
            background-color: $button;
            filter: brightness(90%);
        }
    }

    .title-box { 
        @media only screen and (min-width: 768px) {
            margin-top: 2vw;
            height: 5vw;
            max-height: 70px;
            min-height: 50px;
        }
    }

    .item-box{
        height: 100px;
        margin: 2vw 0px 2vw 0px;
        border-radius: 20px;
    }

    .final-price-box {
        background-color: $link;
        height: 100px;
        width: 80%;
        border-radius: 20px;
        h3 {
            color: $secondary!important;
            font-weight: 400;
            font-size: calc(12px + 0.5vw);
        }
        @media only screen and (max-width: 768px) {
            width: 100%;
            
        }
    }

    .special-col {
        width: auto;
        padding-left: calc(1px + 0.3vw);
        padding-right: calc(1px + 0.3vw);
        padding-top: 0px!important;
        padding-bottom: 0px!important;
    }

    .auto-height {
        height: auto;
    }

    .full-height {
        height: 100%!important;
    }

    .empty {
        height: 65vh;
    };

    .circle-btn {
        height: 5vw; //auto
        width: 5vw; //auto
        min-height: 28px;
        min-width: 28px;
        max-height: 40px;
        max-width: 40px;

        border-radius: 30px;
        background-color: $button2;
        font-size: calc(5px + 0.5vw);
        &:hover{
            filter: brightness(90%);
        }
    }
}
