@use '../../assets/scss/_variables' as *;

.rating-row {
	width: 100%;
	@include flex(flex-end, flex-start);
	margin-top: 0.5em;

	& > .star-logo {
		color: $yellow;
		font-size: 1.3rem;
		&:hover {
			opacity: 0.8;
			cursor: pointer;
		}
	}

	& > .num-reviews {
		color: $gray-500;
		font-size: 0.7rem;
		font-weight: 500;
	}
}
