@use '../../assets/scss/_variables' as *;
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

html,
* {
	box-sizing: border-box;
	-webkit-tap-highlight-color: transparent;
}

body {
	margin: 0;
	::selection {
		background: #c1ffea;
	}
}

#app {
	font-family: 'Poppins', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-align: center;
	height: 100vh;
	width: 100%;
	margin: 0px;
	padding: 0px;
	min-width: 325px;
	font-weight: 400;
	background: $white;
}

::-webkit-scrollbar {
	width: 8px;
	height: 6px;
}

::-webkit-scrollbar-thumb {
	width: 5px;
	background-color: $primary-light;
}

p {
	margin: 0;
}
