$primary:   #434537;
$secondary: #eaebe5;
$success:   #644f3f;
$info:      #855a47;
$link:      #a6654f;
$button:    #cfc5a5;
$button2:   #cfb0a5;
$warning:   #2b2828;

//#eaebe5
//#434537
//#644f3f
//#855a47
//#a6654f


@import "~bootstrap/scss/bootstrap.scss";
@import "styles";