$breakpoint-sm: 575px;

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap');
body {
    background-image: url(assets/bg.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

#app {
    font-family: 'Open Sans', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
}

.login, .signup, .home, .about  {
    //margin-top: 7%;
    height: 90vh;
}

.profile {
    height: 80vh;
    p {
        margin-top: 30px;
    }
}

.login-box {
    background-color: $primary;
    color: $success;
    height: 65vh;
    padding: 5%;
}

.home-box {
    margin-top: 200px;
}

.profile-box {
    background-color: $secondary;
    color: $info;
    padding: 2%;
    height: 500px;
}

.edit-profile-box {
    background-color: $secondary;
    color: $info;
    padding: 2%;
    height: 600px;
}

.upload-box {
    height: 550px;
    background-color: $secondary;
    color: $info;
    width: 1100px;
    .title {
        font-weight: 700;
        font-size: 45px;
    }
}

.profile-col {
    text-align: left;
}

.profile-picture {
    margin-top: 30px;
    height: 200px;
    width: 200px
}

.profile-picture-edit {
    margin-top: 30px;
    height: 338px;
    width: 338px
}

.input-form {
    background-color: $secondary;
    height: 50px;
}

.input-form2 {
    background-color: #ffffff;
    height: 50px;
}

@media (min-width: $breakpoint-sm) {
    .my-navbar {
        height: 70px;
    }
}

.nav-logo {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    filter:
    opacity(70%);
}

.logo {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    text-align: left;
    margin-left: 20px;
    filter:
    opacity(80%);
}

.home {
    h1 {
        font-size: 60px;
        font-weight: 700;
        color: $secondary;
    }
}

.about {
    h1 {
        font-size: 60px;
        font-weight: 700;
        color: $secondary;
    }
}

.btn {
    width: 100%;
    height: 50px;
}

.auto-btn {
    width: auto;
    height: 50px;
}

.nav-btn {
    background-color: $primary;
    width: 180px;
    height: 50px;
}

.edit-btn {
    background-color: $primary;
    color: black;
}

.title {
    font-weight: 700;
}

.login-link {
    margin-top: 30px;
    color: $success;
}

.login-link:hover {
    color: $link;
}

.edit-icon {
    color: $info;
}

.edit-icon:hover {
    color: $primary;
}