$breakpoint-sm: 575px;

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap');
body {
    background-image: url(assets/bg.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

#app {
    font-family: 'Open Sans', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    height: 100vh;
}

.login, .signup, .home, .about  {
    //margin-top: 7%;
    height: 90vh;
}

.profile {
    height: 80vh;
    p {
        margin-top: 30px;
    }
}

.products {
    background-color: $secondary;
    color: $success;
    height: auto;
    width: auto;
}

.payments {
    background-color: $secondary;
    color: $success;
    height: auto;
    width: auto;
}

.product-title-box {
    background-color: $primary;
    height: 100px;
    width: auto;
}

.product-box {
    background-color: $secondary;
    width: auto;
}

.product-list li {
    list-style: none;
}

.product {
    height: 200px;
    width: 200px;
    background-color: #ffffff;
}

.order-box {
    background-color: $secondary;
    color: $info;
    padding: 2%;
    height: auto;
}

 li {
    list-style: none;
}

.orders-item-box {
    background-color: #ffffff;
    height: 70px;
    margin-bottom: 20px;
    border-radius: 5px;
}

.login-box {
    background-color: $primary;
    color: $success;
    height: 490px;
    padding: 5%;
    border-radius: 10px;
}

.home-box {
    margin-top: 200px;
}

.profile-box {
    background-color: $secondary;
    color: $info;
    padding: 2%;
    height: 500px;
}

.edit-profile-box {
    background-color: $secondary;
    color: $info;
    padding: 2%;
    height: 600px;
}

.upload-box {
    height: 550px;
    background-color: $secondary;
    color: $info;
    width: 1100px;
    .title {
        font-weight: 700;
        font-size: 45px;
    }
}

.profile-col {
    text-align: left;
}

.orders-title {
    text-align: left;
}

.order-quantity-btn {
    font-weight: 700;
    height: 30px;
    width: 30px;
    border-radius: 10px;
    background-color: $secondary;
    border-style: none;
}

.order-quantity {
    height: 30px;
    width: 70px;
}

.quantity-row {
    margin: 0!important;
    border: 0!important;
    padding: 0!important;
}

.order-quantity-btn:hover {

    background-color: $primary;
}

.profile-picture {
    margin-top: 30px;
    height: 200px;
    width: 200px
}

.profile-picture-edit {
    margin-top: 30px;
    height: 338px;
    width: 338px
}

.input-form {
    background-color: $secondary;
    height: 50px;
}

.input-form2 {
    background-color: #ffffff;
    height: 50px;
}

@media (min-width: $breakpoint-sm) {
    .my-navbar {
        height: 70px;
    }
}

.nav-logo {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    filter:
    opacity(70%);
}

.logo {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    text-align: left;
    margin-left: 20px;
    filter:
    opacity(80%);
}

.home {
    h1 {
        font-size: 60px;
        font-weight: 700;
        color: $secondary;
    }
}

.about {
    h1 {
        font-size: 60px;
        font-weight: 700;
        color: $secondary;
    }
}

.btn {
    width: 100%;
    height: 50px;
}

.auto-btn {
    width: auto;
    height: 50px;
}

.nav-btn {
    background-color: $primary;
    width: 180px;
    height: 50px;
}

.edit-btn {
    background-color: $primary;
    color: black;
}

.title {
    font-weight: 700;
}

.title2 {
    font-weight: 600;
}

.subtitle {
    font-weight: 700;
    font-size: 15px;
}

.login-link {
    margin-top: 30px;
    color: $success;
}

.login-link:hover {
    color: $link;
}

.edit-icon {
    color: $info;
}

.edit-icon:hover {
    color: $primary;
}

.order-img {
    height: 50px;
    width: 50px;
}

.modal-dialog,
.modal-content {
    /* 80% of window height */
    height: 50%;
}
.payment-footer {
    margin-top: 10%;
}

.modal-body {
    max-height: calc(100% - 120px);
}
.modal-backdrop
{
    opacity:0.5 !important;
}

.btn-icon {
    background-color: #ffffff;
    border-style: none;
}

.invisible-btn {
    font-weight: 700;
    height: 30px;
    width: 30px;
    border-radius: 10px;
    background-color: #ffffff;
    border-style: none;
}

.btn2 {
    background-color: $secondary; /* Blue background */
    border: none; /* Remove borders */
    color: $info; /* White text */
    padding: 7px 11px; /* Some padding */
    font-size: 12px; /* Set a font size */
    cursor: pointer; /* Mouse pointer on hover */
    border-radius: 20px;
  }
  
  /* Darker background on mouse-over */
  .btn2:hover {
    background-color: $primary;
  }

  .quantity-order {
      height: 10px;
      width: 10px;
  }