.Nav {
    font-weight: 300;
    z-index: 10;
    min-width: 313px;
    min-height: 10vh;
}

.my-navbar {
    position: fixed;
    z-index: 12;
    top: 0;
    left: 0;
}

#navbar-toggle-collapse {
    align-items: center;
    transition: 0.3s ease-in-out;
}
.brand-img {
    opacity: 1;
    width: 100%;
    //max-width: 100%;
}

.navbar-brand {
    &:hover{
        opacity: 0.8;
    }
}

.nav-link {
    color: $primary!important;
    font-size: 1.25rem;
    font-weight: 300;
    &:hover {
        filter: brightness(0.5);
        //opacity: 0.5;
    }
}

.b-icon {
    color: black!important;
    &:hover {
        opacity: 0.8;
    }
}